<tr>
  <td><%= gallery.name %></td>
  <td>
    <% if gallery.order_idx != Gallery.min_order_idx(gallery.category) %>
      <%= link_to 'Move Up', gallery_move_up_path(gallery), :method => :patch %>
    <% end %>
  </td>
  <td>
    <% if gallery.order_idx != Gallery.max_order_idx(gallery.category) %>
      <%= link_to 'Move Down', gallery_move_down_path(gallery), :method => :patch %>
    <% end %>
  </td>
  <td><%= link_to 'Show', category_gallery_path(gallery.category, gallery) %></td>
  <td><%= link_to 'Edit', edit_category_gallery_path(gallery.category, gallery) %></td>
  <td>
    <%= link_to 'Delete', [gallery.category, gallery],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
